		<p style="color:red"><u><i>La presente e-mail è stata generata automaticamente da un indirizzo di posta elettronica di solo invio,<br>si domanda pertanto di non rispondere al presente messaggio.</i></u></p>
		<div Name="Sign">
			<table>
				<tbody>
					<tr>
						<td width="200" valign="top">
							<a href="https://www.live-tech.com/">
								<img style="border: 0px; width:157px; height:39px;"
								alt="Livetech" 
								src="https://wiki.live-tech.com/signs_images/livetech_email_sign.png">
							</a>
						</td>
						<td width="260" valign="top">
							<table>
								<tbody>
									<tr><td width="360" style="padding-left:5px"><b>Ordini Livetech</b></td></tr>
									<tr><td height="3"></td></tr>
								</tbody>
							</table>
							<table>
								<tbody>
									<tr>
										<td width="16" align="center"></td>
										<td width="244" style="padding-left:8px"></td>
									</tr>
									<tr>
										<td width="16" align="center">T</td>
										<td width="244" style="padding-left:8px">+39 0173 440679</td>
									</tr>
									<tr>
										<td width="16" align="center">E</td>
										<td width="244" style="padding-left:8px"><a href="mailto:acquisti@live-tech.com">acquisti@live-tech.com</a></td>
									</tr>
									<tr>
										<td width="16" align="center">W</td>
										<td width="244" style="padding-left:8px"><a href="https://www.live-tech.com/">www.live-tech.com</a></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<!-- Banner --> 
					<!--
					<tr><td colspan="2" height="6"/></tr>
					<tr>
						<td colspan="2" width="460" height="20" valign="center" align="center">
							<a href="https://www.live-tech.com/2019/01/ready-for-prosweets-2018-cologne/">
								<img style="border: 0px;"
								alt="Livetech" 
								src="https://wiki.live-tech.com/signs_images/email_banner.jpg">
							</a>
						</td>
					</tr>
					--> 
					<hr>
					<!-- Space --> 
					<tr><td colspan="2" height="6"/></tr>
					<tr>
						<td colspan="2" width="460" valign="top">
							<div style="font-size:8pt; font-style:italic; margin:0px 0px 0px 5px; text-align:justify; text-justify: inter-word;">
								This e-mail message may contain confidential or legally privileged information and is intended only for the use of the intended recipient(s) may also be legally privileged and is property of Live-Tech S.r.l. It is intended for the addressee only. Access to this information by anyone else is unauthorized. It is not to be relied upon by any person other then the addressee except with our prior written approval. If you are not the intended recipient please delete it and notify the sender.
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>